@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #323233;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: #f3f4fa;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

ul,
li {
  list-style-type: none;
}

.mb {
  margin-bottom: 48px;
}
