.heading {
  padding-left: 20px;
}

.summary-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summary-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px;
      grid-template-columns: 250px 250px;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  margin: 3rem;
}

.summary-overall {
  padding: 20px 30px;
  border-radius: 30px;
  background-color: #87CEEA;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.summary-chart {
  padding: 20px 30px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 3rem;
}
