@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.heading {
    margin: 16px 0px;
    padding: 0px 40px;
    height: 5rem; 
    border-bottom: 1px solid $mainBg;
    @include flex(center, flex-start);
    flex-direction: row;
    color: $black;

    svg{
        height: 2em;
        width: 2em;
    }
}

.summary-row {
    @include flex(center, space-around);
    flex-direction: row;
    flex-grow: 1; 
    flex-wrap: wrap;
}

.summary-left {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    margin: 3rem;
    color: $txtColor;
}

.summary-right {
    padding: 20px 30px;
    border-radius: $borderRadius;
    color: $txtColor;
    background-color: $mainColor;
    box-shadow: $mainBg 0px 2px 12px;
}

.summary-chart {
    padding: 20px 30px;
    border-radius: $borderRadius;
    color: $txtColor;
    background-color: $mainBg;
    box-shadow: $mainBg 0px 2px 6px;
    margin: 3rem;
}