$bodyBg: #E2DCC8;
$mainBg: #100F0F;
$mainColor: #0F3D3E;
$txtColor: #F1F1F1;
$white: #F1F1F1;
$black: #0B0C10;
$beige: #E2DCC8;
$green: #0F3D3E;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$fontFamily: 'Kdam Thmor Pro', sans-serif;

$sideBarWidth: 5rem;
$sideBarLogoHeight: 170px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;